<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
  </div>
    <div class="form-group">
    <%= f.text_field :name,  class: "form-control", placeholder: "Display name" %>
  </div>
  <div class="form-group">
    <%= f.text_field :zip_code, class: "form-control", placeholder: "Zip code" %>
  </div>
  <div class="form-group">
    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
  </div>
  <div class="form-group password">
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm password" %>
  </div>
  <%= f.submit "Sign me up!", class: "btn btn-primary" %>
  <%= link_to "Or log in", login_path %>
<% end %>

