<%= render 'layouts/flash_error' %>

<h1>Edit profile</h1>

<%= form_for @user do |f| %>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :name, "* Display name" %>
      <%= f.text_field :name,  class: "form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :email, "* Email" %>
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, "Phone number" %>
    <%= f.text_field :phone, class: "form-control" %>
    <small id="emailHelp" class="form-text text-muted">Just the digits, no special characters please</small>
  </div>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :address2, "Address line 2" %>
    <%= f.text_field :address2, class: "form-control" %>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :city, "* City" %>
      <%= f.text_field :city, class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :state, "* State" %>
      <%= f.select :state, us_states, {}, {class: "form-control"} %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :zip_code %>
      <%= f.text_field :zip_code, class: "form-control" %>
    </div>
  </div>
  <%= f.submit "Update profile", class: "btn btn-primary" %>
  <%= link_to "Cancel", '/index', class: "btn btn-secondary" %>
<% end %>
