<%= render 'layouts/flash_error' %>
<%= render 'layouts/flash_message' %>

<h3><%= link_to "Create new food offer", new_offer_path %></h3>

<h3><%= link_to "Find food", offers_path %></h3>

<br>

<%= render 'offers/my_offers' %>
<%= render 'offers/my_requests' %>
