<%= render 'layouts/flash_error' %>
<%= render 'layouts/flash_message' %>

<h1 class="slab-font center lg-margin-bottom"><strong><%= link_to "Create New Food Offer", new_offer_path %></strong></h1>

<h1 class="slab-font center lg-margin-bottom"><strong><%= link_to "Find Food Now", offers_path %></strong></h1>

<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="lt-grey-box">
        <h3 class="slab-font">My Open Offers</h3>
        <hr>
        <%= render 'offers/my_offers' %>
      </div>

    </div>
    <div class="col-md-6">
      <div class="lt-grey-box">
        <h3 class="slab-font">My Open Requests</h3>
        <hr>
        <%= render 'requests/my_requests' %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <h6 class="slab-font"><%= link_to "Closed Offers", offers_closed_path %></h6>
    </div>
    <div class="col-md-6">
      <h6 class="slab-font"><%= link_to "Completed Requests", requests_completed_path %></h6>
    </div>
  </div>
</div>
<br></br>
<h4 class="slab-font center"><%= link_to "Recent Community Exchanges", requests_recently_completed_path %></h4>
