<%= render 'layouts/flash_error' %>
<%= render 'layouts/flash_message' %>

<h1><%= link_to "Create new food offer", new_offer_path %></h1>

<h1><%= link_to "Find food", offers_path %></h1>

<%= render 'offers/my_offers' %>
<%= render 'offers/my_requests' %>
