<% if params[:offer_id] && params[:id] %>
  <% request_label = "Your Request" %>
<% else %>
  <% name = req.user.name %>
  <% if req.completed_requestor %>
    <% request_label = "Completed Request" %>
  <% else %>
  <% request_label = "Open Request" %>
  <% end %>
<% end %>

<% if req.user == current_user %>
  <% i_marked = req.completed_giver %>
  <% they_marked = req.completed_requestor %>
<% else %>
  <% i_marked = req.completed_requestor %>
  <% they_marked = req.completed_giver %>
<% end %>

<div class="lt-grey-box list-spacing">
  <h4 class="slab-font"><%= request_label %></h4>
  <% if name %>
    <b>From: </b><%= link_to name, user_path(req.user) %><br>
  <% end %>
  <% if req.requestor_email.present? %>
    <b>Email: </b><%= link_to req.requestor_email, "mailto:#{req.requestor_email}" %><br>
  <% end %>
  <% if req.requestor_phone.present? %>
    <b>Phone: </b><%= format_phone(req.requestor_phone) %><br>
  <% end %>
  <b>Message: </b><%= req.message %><br>
  <b>Requested: </b><%= format_date(req.created_at.localtime) %><br>
  <br>

  <% if i_marked && they_marked %>
    <div class="slab-font left-padding">You marked picked up!</div>
    <div class="slab-font left-padding"><%= req.giver.user.name %> marked picked up!</div>
  <% elsif i_marked && !they_marked %>
    <div class="slab-font left-padding">You marked picked up!</div>
  <% else %>
    <% if !they_marked %>
      <div class="slab-font left-padding margin-bottom">
        <b>Successful pickup?</b>
      </div>
    <% else %>
      <div class="slab-font left-padding margin-bottom">
        <%= req.giver.user.name %> marked picked up!
        <span class="badge badge-warning badge-shift">New</span>
      </div>
    <% end %>
    <div class="left-padding">
      <%= form_for req, url: "/request/#{req.id}" do |f| %>
        <% if name %>
          <%= f.hidden_field :completed_requestor, value: true %>
          <%= f.submit "Give #{req.requestor.user.name} karma", class: "btn btn-outline-success" %>
        <% else %>
          <%= f.hidden_field :completed_giver, value: true %>
          <%= f.submit "Give #{req.giver.user.name} karma", class: "btn btn-outline-success" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
