<%= form_for [@offer, @request] do |f| %>
  <div class="form-group">
    <b><%= f.label :message, "Leave a message for #{@offer.user.name}" %></b>
    <%= f.text_area :message, class: 'form-control', placeholder: 'Provide a message about when you can pick up or ask a question' %>
  </div>
  
  <br>
    
  <p><b>Contact me at (at least one is required):</b></p>
  <div class="form-group">
    <%= f.label :requestor_email, "Email" %>
    <%= f.text_field :requestor_email, value: "#{current_user.email}", class: 'form-control' %>
    </div>
  <div class="form-group">
    <%= f.label :requestor_phone, "Phone" %>
    <%= f.text_field :requestor_phone, value: "#{current_user.phone}", class: 'form-control' %>
  </div>

  <%= f.hidden_field :offer_id %>
  <%= f.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", '/index', class: "btn btn-secondary" %>
<% end %>
