<% if @request.user == current_user %>
  <div class="lt-grey-box">
    <h3 class="slab-font">Your Request</h3>
    <% if @request.requestor_email.present? %>
      <b>Email: </b><%= @request.requestor_email %><br>
    <% end %>
    
    <% if @request.requestor_phone.present? %>
      <b>Phone: </b><%= format_phone(@request.requestor_phone) %><br>
    <% end %>

    <b>Message: </b><%= @request.message %><br>
    <b>Requested: </b><%= format_date(@request.created_at.localtime) %><br>

    <br>
    <% if !@request.completed_giver %>
      <% if @request.completed_requestor %>
        <h6 class="slab-font"><%= @request.offer.user.name %> marked picked up! <span class="badge badge-warning">New</span></h6>
      <% else %>
        <h6 class="slab-font">Successful pickup?</h6>
      <% end %>
      <%= form_for @request, url: "/request/#{@request.id}" do |f| %>
        <%= f.hidden_field :completed_giver, value: true %>
        <%= f.submit "Give #{@request.offer.user.name} karma", class: "btn btn-outline-success" %>
      <% end %>
    <% end %>
  </div>
  
  <% if !@request.completed_giver %>
    <br>
    <div class="btn-group">
      <%= link_to "Edit request", edit_offer_request_path(@offer, @request), class: "btn btn-primary" %>
      <%= button_to "Delete request", offer_request_path(@request), class: "btn btn-outline-danger btn-left-margin", method: "delete", data: { confirm: "Are you sure you want to delete this request?"} %>
    </div>
  <% end %>

<% else %>
  <div class="lt-grey-box">
    <h3 class="slab-font">Request Info</h3>
    <b>Message: </b><%= @request.message %><br>
    <b>From: </b><%= @request.user.name %><br>

    <% if @request.requestor_email.present? %>
      <b>Email: </b><%= link_to @request.requestor_email, "mailto:#{@request.requestor_email}" %><br>
    <% end %>
    
    <% if @request.requestor_phone.present? %>
      <b>Phone: </b><%= format_phone(@request.requestor_phone) %>
    <% end %>

    <b>Requested: </b><%= format_date(@request.created_at.localtime) %><br>
    <b>Giver marked completed: </b><%= @request.completed_requestor ? "yes" : "no" %>
  </div>
<% end %>
