<%= render 'layouts/flash_error' %>
<%= render 'layouts/flash_message' %>

<h1>Edit Request</h1>
<h3><%= link_to @offer.headline, offer_path(@offer) %></h3>
<h6>Pick up by: <%= format_date(@offer.expiration) %></h6>

<br>

<%= render 'form' %>
