<h1>Requests for <%= @offer.headline %></h1>
<ul class="list-group">
  <% @requests.each do |request| %>
    <li class="list-group-item">
      <%= link_to request.message, offer_request_path(@offer, request) %><br>  
      Name: <%= request.user.name %><br>
      <% if request.requestor_email.present? %>
        Email: <%= request.requestor_email %><br>
      <% end %>
      <% if request.requestor_phone.present? %>
        Phone: <%= request.requestor_phone %><br>
      <% end %>
    </li>
  <% end %>
</ul>
