<%= render 'layouts/flash_message' %>

<h1>Open requests for:</h1>
<h3><%= link_to @offer.headline, offer_path(@offer) %></h3>
<div class="small">You posted on <%= format_date(@offer.created_at.localtime) %></div>

<br>
<% if @requests.present? %>
  <ul class="list-group">
    <% @requests.each do |request| %>
      <li class="list-group-item lt-grey-box">
        <b>Message: </b><%= request.message %><br>
        <b>From: </b><%= request.user.name %><br>
        <% if request.requestor_email.present? %>
          <b>Email: </b><%= request.requestor_email %><br>
        <% end %>
        <% if request.requestor_phone.present? %>
          <b>Phone: </b><%= format_phone(request.requestor_phone) %><br>
        <% end %>
        <b>Request date: </b><%= format_date(request.created_at.localtime) %><br>

        <br>

        Successful pickup?<br>
        <%= form_for request, url: "/request/#{request.id}" do |f| %>
          <%= f.hidden_field :completed_requestor, value: true %>
        <%= f.submit "Give #{request.user.name} a point", class: "btn btn-outline-success" %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <br>

<% else %>
  <h5>Currently no open requests</h5>
<% end %>

<br>
<%= button_to "Close offer", offer_path(@offer), method: "patch", class: "btn btn-primary" %>

<br>
<%= link_to "Completed requests", offer_completed_path %>
<br>
<%= link_to "Back to index", '/index' %>
