<%= render 'layouts/flash_message' %>

<%= render 'offers/headline' %>

<br>
<% if @requests.present? %>
  <% @requests.each do |req| %>
    <%= render 'display_request', :req => req %>
  <% end %>
<% else %>
  <h5 class="slab-font">No open requests</h5>
<% end %>

<br>
<h4 class="slab-font"><%= link_to "Completed requests", offer_completed_path %></h4>
<div class="slab-font"><%= link_to "Back to index", '/index' %></div>
