<h1>Requests for:</h1>
<h3><%= link_to @offer.headline, offer_path(@offer) %></h3>
<div class="small">You posted on <%= format_date(@offer.created_at) %></div>

<br>
<% if @requests.present? %>
  <ul class="list-group">
    <% @requests.each do |request| %>
      <li class="list-group-item lt-grey-box">
        <b>Message: </b><%= request.message %><br>
        <b>From: </b><%= request.user.name %><br>
        <% if request.requestor_email.present? %>
          <b>Email: </b><%= request.requestor_email %><br>
        <% end %>
        <% if request.requestor_phone.present? %>
          <b>Phone: </b><%= format_phone(request.requestor_phone) %><br>
        <% end %>
        <b>Request date: </b><%= format_date(request.created_at) %><br>

        <br>
        <%= form_for @comment do |f| %>
          <%= f.label :comment_for_requestor, "Leave a comment for #{request.user.name} (optional)" %>
          <%= f.text_field :comment_for_requestor %>
          <%= f.submit "Mark request completed", :class => "btn btn-success" %>
        <% end %>
      </li>
    
    <% end %>
  </ul>
<% else %>
  <br>
  <h5>Currently no requests. Please check back later.</h5>
<% end %>

<br>
<%= link_to "Back to index", '/index' %>
