<h1>All Requests</h1>
<h3><%= link_to @offer.headline, offer_path(@offer) %></h3>

<%# render form for offer with collection_check_box of requests. if request checked, request will be marked completed %>
<% if @requests.present? %>
  <%= form_for @offer do |f| %>
    <%= f.collection_check_boxes :id, @requests, :id, :message %>
    <%= f.submit "Close offer"%>
  <% end %>
<% else %>
  <br>
  <h5>Currently no requests. Please check back later.</h5>
<% end %>
<br>
<%= link_to "Back to index", '/index' %>
