<%= render 'layouts/flash_message' %>

<h1 class="slab-font sm-margin-bottom">Open requests for:</h1>
<h2><%= link_to @offer.headline, offer_path(@offer) %></h2>
<div class="small grey-text">Posted on <%= format_date(@offer.created_at.localtime) %></div>

<br>
<% if @requests.present? %>
  <ul class="list-group">
    <% @requests.each do |request| %>
      <li class="list-group-item lt-grey-box">
        <h4 class="slab-font sm-margin-bottom">Request</h4>
        <b>From: </b><%= link_to request.user.name, user_path(request.user) %><br>
        <% if request.requestor_email.present? %>
          <b>Email: </b><%= link_to request.requestor_email, "mailto:#{request.requestor_email}" %><br>
        <% end %>
        <% if request.requestor_phone.present? %>
          <b>Phone: </b><%= format_phone(request.requestor_phone) %><br>
        <% end %>

        <b>Message: </b><%= request.message %><br>
        <b>Requested: </b><%= format_date(request.created_at.localtime) %><br>

        <% if request.completed_giver %>
          <br>
          <div class="slab-font left-padding"><%= request.user.name %> marked picked up!
          <span class="badge badge-warning">New</span></div>
        <% else %>
          <br>
          <div class="slab-font left-padding"><b>Successful pickup?</b></div>
        <% end %>
          <div class="left-padding">
          <%= form_for request, url: "/request/#{request.id}" do |f| %>
            <%= f.hidden_field :completed_requestor, value: true %>
            <%= f.submit "Give #{request.user.name} karma", class: "btn btn-outline-success" %>
          <% end %>
        </li>
      <% end %>
  </ul>

<% else %>
  <br>
  <h5>Currently no open requests</h5>
<% end %>

<br>
<%= button_to "Close offer", offer_path(@offer), method: "patch", class: "btn btn-primary" %>

<br>
<div class="slab-font"><%= link_to "Completed requests", offer_completed_path %></div>
<div class="slab-font">
<%= link_to "Back to index", '/index' %></div>
