<%= render 'layouts/flash_message' %>

<%= render 'offers/headline' %>

<br>
<% if @requests.present? %>
  <% @requests.each do |req| %>
    <%= render 'display_request', :req => req %>
  <% end %>
<% else %>
  <br>
  <h3 class="slab-font">No completed requests</h3>
<% end %>

<br>
<h5 class="slab-font"><%= link_to "Open requests", offer_requests_path(@offer) %></h5>

<%= render 'welcome/link_to_home' %>
