<%= render 'layouts/flash_message' %>

<h1 class="slab-font sm-margin-bottom">Completed requests for:</h1>
<h3><%= link_to @offer.headline, offer_path(@offer) %></h3>
<div class="small">You posted on <%= format_date(@offer.created_at.localtime) %></div>

<br>
<% if @requests.present? %>
  <ul class="list-group">
    <% @requests.each do |request| %>
      <li class="list-group-item lt-grey-box">
        <h4 class="slab-font sm-margin-bottom">Request</h4>
        <b>From: </b><%= link_to request.user.name, user_path(request.user) %><br>
        <% if request.requestor_email.present? %>
          <b>Email: </b><%= link_to request.requestor_email, "mailto:#{request.requestor_email}" %><br>
        <% end %>
        <% if request.requestor_phone.present? %>
          <b>Phone: </b><%= format_phone(request.requestor_phone) %><br>
        <% end %>
        <b>Message: </b><%= request.message %><br>
        <b>Request date: </b><%= format_date(request.created_at.localtime) %><br>
      </li>
    <% end %>
  </ul>

<% else %>
  <br>
  <h5>No completed requests</h5>
<% end %>

<br>
<div class="slab-font"><%= link_to "Open requests", offer_requests_path(@offer) %></div>
<div class="slab-font"><%= link_to "Back to index", '/index' %></div>
