<h1 class="slab-font sm-margin-bottom">Recent community exchanges</h1>

<% if @requests.present? %>
  <ul class="margin-bottom">
    <% @requests.each do |request| %>
      <li class="list-obj left-padding">
        <%= request.user.name %> picked up <%= link_to request.offer.headline, offer_path(request.offer) %> from <%= request.giver.user.name %><br>
        <div class="small"><%= request.offer.user.city %>, <%= request.offer.user.state %></div>
        <div class="small"><%= format_date_no_time(request.updated_at) %></div>
      </li>
    <% end %>
  </ul>
<% else %>
  <br>
  <h4 class="slab-font">None currently</h4>
<% end %>

<br>
<%= render 'welcome/link_to_home' %>
