<h1>Recent community exchanges</h1>

<% if @requests.present? %>
  <ul class="list-group">
    <% @requests.each do |request| %>
      <li class="list-group-item">
        <%= request.user.name %> picked up <%= link_to request.offer.headline, offer_path(request.offer) %> from <%= request.giver.user.name %><br>
        <div class="small grey-text"><%= request.offer.user.city %>, <%= request.offer.user.state %></div>
      </li>
    <% end %>
  </ul>
<% else %>
  <h4>None currently</h4>
<% end %>
