<h1 class="slab-font sm-margin-bottom">Recent community exchanges</h1>

<% if @requests.present? %>
  <ul class="list-group">
    <% @requests.each do |request| %>
      <li class="list-group-item">
        <%= request.user.name %> picked up <%= link_to request.offer.headline, offer_path(request.offer) %> from <%= request.giver.user.name %><br>
        <div class="small grey-text left-padding"><%= request.offer.user.city %>, <%= request.offer.user.state %></div>
        <div class="small grey-text left-padding"><%= format_date_no_time(request.updated_at) %></div>
      </li>
    <% end %>
  </ul>
<% else %>
  <h4>None currently</h4>
<% end %>

<br>
<%= link_to "Back to index", '/' %>
