<%= render 'layouts/flash_error' %>

<h1>Request</h1>
<h3><%= link_to @offer.headline, offer_path(@offer) %></h3>
<h5>From: <%= @offer.giver.user.name %></h5>
<p>Pick up by: <%= format_date(@offer.expiration) %></p>
<br>
<h3>Request by: <%= @request.receiver.user.name %></h3>
<ul>
  <li>Message: <%= @request.message %></li>
  <% if @request.receiver_email.present? %>
    <li>Email: <%= @request.receiver_email %></li>
  <% end %>
  <% if @request.receiver_phone.present? %>
    <li>Phone: <%= @request.receiver_phone %></li>
  <% end %>
</ul>