<%= render 'layouts/flash_error' %>
<%= render 'layouts/flash_message' %>

<h1><%= link_to @offer.headline, offer_path(@offer) %></h1>
<h5><b>Time left: </b><%= time_left(@offer) %></h5>
<br>

<%= render 'show_request' %>

<br>
<%= link_to "Back to index", '/index' %>
