<%= render 'layouts/flash_error' %>
<%= render 'layouts/flash_message' %>

<%= render 'offers/headline' %>  

<br>

<% req = @request %>
<%= render 'display_request', :req => req %>

<% if !@request.completed_giver %>
<div class="btn-group">
      <%= link_to "Edit request", edit_offer_request_path(@offer, @request), class: "btn btn-primary" %>
      <%= button_to "Delete request", offer_request_path(@request), class: "btn btn-outline-danger btn-left-margin", method: "delete", data: { confirm: "Are you sure you want to delete this request?"} %>
    </div>
    <br>
<% end %>

<br>
<%= render 'welcome/link_to_home' %>
