<%= render 'layouts/flash_error' %>
<%= render 'layouts/flash_message' %>

<h1 class="slab-font"><%= @offer.closed ? "Closed" : "Open" %> Offer</h1>
<% if User.find_by(id: @offer.giver_id) %>
  <h3><%= link_to @offer.headline, offer_path(@offer) %></h3>
<% else %>
  <h3><%= @offer.headline %></h3>
<% end %>
<div class="small grey-text">Posted on <%= format_date(@offer.created_at.localtime) %></div>

<br>
<%= render 'show_request' %>

<br></br>
<div class="slab-font"><%= link_to "Back to index", '/index' %></div>
