
<%= form_for @offer do |f| %>
  <div class="form-group">
    <%= f.text_field :title, placeholder: "Title", class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.text_area :description, placeholder: "Describe the extra food you have (details, quanity, etc.)", class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.text_area :availability, placeholder: "Describe your availability for exchanging the food", class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.text_field :expiration, class: 'form-control', placeholder: "Latest pickup available" %>
    <!--
    Come back and add timedatepicker Jquery
    -->
  </div>
  <% f.hidden_field :fulfilled, value: false %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>