  <% if !@offer.closed %>
    <div class="slab-font">
      <%= render 'number_of_requests' %>
    </div>
    <br>
    <% if @offer.requests.present? %>
      <div class="btn-group">
        <%= link_to "Edit offer", edit_offer_path(@offer), class: "btn btn-primary" %>
        <%= button_to "Close offer", offer_path(@offer), method: "patch", class: "btn btn-secondary btn-left-margin", data: { confirm: "Are you sure you want to close this offer?"} %>
      </div>
    <% else %>
      <div class="btn-group">
        <%= link_to "Edit offer", edit_offer_path(@offer), class: "btn btn-primary" %>
        <%= button_to "Delete offer", offer_path(@offer), method: "delete", class: "btn btn-outline-danger btn-left-margin", data: { confirm: "Are you sure you want to delete this offer?"} %>
      </div>
    <% end %>
    
    <h5 class="slab-font">
    <br>
      <%= link_to "Completed requests", offer_completed_path(@offer) %>
    </h5>
  <% else %>
    <h3 class="slab-font"><%= link_to number_of_items(@completed_requests, "completed request"), offer_completed_path(@offer) %></h3>
    <h5 class="slab-font"><%= link_to "Open requests", offer_requests_path(@offer) %></h5>
  <% end %>
