<h1>Your Offer</h1>

<ul>
  <li>Title: <%= @offer.title %></li>
  <li>Description: <%= @offer.description %></li>
  <li>Availability: <%= @offer.availability %></li>
  <li>Expiration: <%= @offer.expiration %></li>
  <li>Fulfilled: <%= @offer.fulfilled ? "yes" : "no" %>
</ul>

<%= button_to "Edit offer", edit_offer_path(@offer), class: "btn btn-primary", method: "get" %>
