<%= render 'layouts/flash_error' %>
<%= render 'layouts/flash_message' %>

<div class="slab-font">
  <a href="#" class="js-previous" data-id="<%= @offer.id %>">Previous offer</a>
  <span> | </span>
  <a href="#" class="js-next" data-id="<%= @offer.id %>">Next offer</a>
</div>
<br>
<h1 id="offer-status" class="slab-font"><%= @offer.closed ? "Closed" : "Open" %> offer</h1>

<h3 id="offer-headline"><%= @offer.headline %></h3>
<div id="offer-post-date" class="small grey-text">Posted on <%= format_date(@offer.created_at.localtime) %></div>
<br>
<h6 id="offer-description"><b>Description: </b><%= @offer.description %></h6>
<h6 id="offer-location"><b>Location: </b><%= @offer.city_state %></h6>
<h6 id="offer-availability"><b>Pickup availability: </b><%= @offer.availability %></h6>

<br>
<h4 class="slab-font" id="requests-link">
  <a href="#" data-id="<%= @offer.id %>" id="requests-count" ><%= @offer.requests.count %> requests</a>
</h4>
<div id="new-request"></div>
<div id="offer-requests"></div>

<a href="#" id="show-request-form" class="slab-font"></a>

<div id="request-form">
</div>

<br>
<h5 class="slab-font">
  <%= link_to "All offers", '/offers' %>
</h5>
<%= render 'welcome/link_to_home' %>

<script>
  id = <%= @offer.id %>
  adapter = new OffersAdapter()
  adapter.getOffer(id).then(offerJson => new Offer(offerJson))
</script>
