<!DOCTYPE html>
<html>
  <head>
    <title>Refood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'beet.png' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet">
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-left nav-item-left">
      <a href="/index"><%= image_tag "refood-logo-light.png", alt: "Refood logo" %></a>
    </div>
    <div>
      <div class="name-dropdown nav-item-right">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Hi <%= current_user.name %>!
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to "View profile", user_path(current_user) %></li>
          <li><%= link_to "Edit profile", edit_profile_path %></li>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        </ul>
      </div>
      <div class="small green-text slab-font">
        KARMA <b><%= current_user.karma %></b>
      </div>
    </div>
  </nav>

  <div class="page-content">
    <%= yield %>
  </div>
  </body>
</html>
