<!DOCTYPE html>
<html>
  <head>
    <title>Refood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'beet.png' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="navbar-left nav-item-left">
        <a href="/" ><%= image_tag "refood-logo-light.png", alt: "Refood logo" %></a>
      </div>
    </nav>

    <div class="page-content">
      <%= yield %>
    </div>
  </body>
</html>
