<!DOCTYPE html>
<html>
  <head>
    <title>Refood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand text-light nav-item-left">Refood</a>
    </nav>

    <div class="page-content">
      <%= yield %>
    </div>
  </body>
</html>
